@import "tailwindcss";

:root {
  --color-primary: #1e3a8a;
  --color-bg: #f1f5f9;
}

body {
  background-color: var(--color-bg);
  color: #1f2937;
  font-family: sans-serif;
}

/* Clases personalizadas */
.btn-primary {
  background-color: #1d4ed8;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.card {
  background: white;
  border-radius: 0.75rem;
  padding: 1.25rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}